<%- include( 'common/header', { cities: cities } ) %>

<div class="container">
    <h1>Lets see what your city Says.</h1>
    <img src="images/main.jpg" class="img-responsive" />
</div>

<%- include( 'common/footer' ) %>
        